@{
    ViewBag.Title = "Home Page";
}
<main>
    <h1 style="background-color: purple;">SPACE ADVENTURE</h1>
    <p class="lead">The Greatest Space Adventure Game Waiting to be Played by You</p>
    <div class="buttons">
        <p><a href="../Home/Play" class="btn btn-primary btn-lg">Start Your Adventure</a></p>
        <p><a href="../Home/Settings" class="btn btn-primary btn-lg">Edit Your Adventure </a></p>
    </div>
</main>

<style>


    h1 {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: white;
    }

    p {
        text-align: center;
        padding: 30px 40px 30px 40px;
        flex: auto;

    }

    .buttons {
        display: inline-flex;
    }

    html {
        background-image: url("../Assets/Startup.kra");
    }

    .buttons p {
        flex: 50%;
    }

    btn {
        margin-right: 100px;
    }
</style>