
@{
    ViewBag.Title = "Play";
}


<div class="Settings">
    <div class="boring">
        <p><a href="../Adventurer/Create" class="btn btn-primary btn-lg">Create your Charecter</a></p>
        <p><a href="../Adventurer/List" class="btn btn-primary btn-lg">Choose your Charecter</a></p>
    </div>
    <div class="GETITONN">
        <p><a href="Start" class="btn btn-primary btn-lg">START</a></p>
    </div>
</div>

<style>
    .GETITONN{
        padding: 100px 200px 100px 200px;
    }

    .boring {
        padding: 100px 200px 100px 200px;
    }
</style>